*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #121212;
}
.form-container h1{
    color: #300350;
}
.form-container{
    margin: 10% auto;
    width: 40%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;

}

.form-container input[type="text"], input[type="password"]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #300350;
    color: #300350;
    border-radius: 20px;
}

.form-container input[type="submit"]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    background-color: #300350;
    color: #ffffff;
    border-radius: 20px;
}

.form-container input[type="submit"]:hover
{
    background-color: #DAA425;
    color: #121212;
}