*{
    margin: 0px;
    padding: 0px;
    font-family: 'Century Gothic', sans-serif;
}
body{
    background-color: #121212;
}

.topnav{
    background-color: #f1c40f;
    padding: 20px;
    margin-bottom: 5%;

}

.topnav a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
}

.form_design
{
  margin: auto;
  width: 30%; 
  padding: 20px;
  background-color: rgb(25, 25, 25);
  border-radius: 25px;
}

.form_design h1
{
    text-align: center;
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}

input[type=text], input[type=password]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #121212;
    display: inline-block;
    box-sizing: border-box;
    color: white;
    border: none;
    border-radius: 25px;
}

input[type=text]:hover, input[type=password]:hover
{
   border: 1px solid #f1c40f;
}



input[type="submit"]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #121212;
    display: inline-block;
    box-sizing: border-box;
    color: #ffffff;
    border: none;
    border-radius: 25px;
}

input[type="submit"]:hover{
    border: 1px solid #f1c40f;
    color: #f1c40f;
}